input {
  padding: 10px;
  width: 90%;
  font-size: 22px;
  border-style: solid;
  border-color: lightgray;
  margin-bottom: 20px;
}

input:hover {
  border-color: lightskyblue;
}

.result-item {
  margin-bottom: 15px;
  font-size: 18px;
}

.name {
  display: block;
}

.stars {
  color: darkgray;
  font-size: 16px;
}

.errorShortInfo {
  color: lightcoral;
  font-size: 18px;
  padding-bottom: 10px;
}

.errorExtraInfo {
  color: darkgray;
  font-size: 16px;
}
